h1{
    text-align: center;
}

body{
    width: 100%;
    height: 100vh;
    margin: 0;
    border: 10px solid black;
}

form {
    max-width: 600px;
    margin: 10px auto;
}

label{
    display: block;
    padding-top: 20px;
}

input, form{
    width: 100%;
    padding: 0.5rem;
    margin: 0 auto;
}

input[type="submit"]{
    margin-top: 20px;
    max-width: 300px;
    display: block;
}